body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "GTAmerica-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;;
  font-size: 12px;
  font-weight: 300;
  background: #FAFCFF;
  overflow-x: hidden;
}

::selection{
  color: #fff;
  background: #05668D;
}